body {
  margin: 0;
  padding: 0;
  background-color: #232530;
}

p {
  font: 30px bold Arial, sans-serif italic #fff;
}

h1 {
  text-shadow: 2px 2px #ffffff;
}

.header {
  background-color: #e67d7d;
  padding: 10px;
  /* text-align: center; */
  /* border: 12px solid #fff; */
}

.navigation {
  background-color: #9494f5;
  padding: 10px;
  text-align: center;
}

.container {
  width: 1000px;
  margin: auto;
}

.left-section {
  /* margin: 10px 20px 30px 40px; */
  height: 600px;
  width: 500px;
  float: left;
}

.section {
  background-color: #7eba79;
  width: 500px;
  height: 350px;
  text-align: center;
  float: left;
}

.article {
  background-color: #d08ad0;
  width: 500px;
  height: 350px;
  text-align: center;
  float: left;
}

.aside {
  background-image: url("../img/background.jpg");
  background-color: #479dbf;
  text-align: center;
  height: 700px;
  width: 500px;
  float: left;
  /* box-shadow: 50px 100px red; */
}

.footer {
  background-color: #807d7d;
  text-align: center;
  /* padding: 100px 200px 30px 40px; */
  clear: both;
  height: 100px;
}

h3{
  margin-top: 100px;
}